<a href="https://colab.research.google.com/github/Jaimemorillo/ShouldIwatchThisMovie/blob/master/extract_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
import pandas as pd
import time
import numpy as np

In [1]:
!pip install tmdbsimple

Collecting tmdbsimple
  Downloading https://files.pythonhosted.org/packages/52/d7/e84d96acfff3154bd84cc139472fb3d1293fabf20cd150833b3229c1e40d/tmdbsimple-2.2.0-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from tmdbsimple) (2.18.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (1.22)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (2.6)
Installing collected packages: tmdbsimple
Successfully installed tmdbsimple-2.2.0

In [0]:
import tmdbsimple as tmdb

tmdb.API_KEY = '38dd5c6c01713ef99903275d51e2fd68'

In [6]:
movie = tmdb.Movies(285)
response = movie.info(language="es-ES")
response['title']

'Piratas del Caribe: En el fin del mundo'

In [0]:
search = tmdb.Search()
response = search.tv(query='Juego de Tronos',language='es-ES')

In [0]:
response['results'][0]['overview']

In [0]:
data = pd.read_csv("gdrive/My Drive/TFG/tmdb_5000_movies.csv")

In [0]:
def get_spanish_overview(id):
  
  movie = tmdb.Movies(id)
  
  try:
  
    response = movie.info(language="es-ES")
    over = response['overview']
    return over 
  
  except: 
    
    try:
      
      time.sleep(5)
      response = movie.info(language="es-ES")
      over = response['overview']
      return  over 
    
    except:
      
      return ''

In [0]:
data['overview'] = data['overview'].apply(lambda x:'')
data['overview'] = data.apply(lambda x: get_spanish_overview(x['id']) if x['overview'] == '' else  x['overview'], axis=1 )

In [0]:
def get_spanish_title(id):
  
  movie = tmdb.Movies(id)
  
  try:
  
    response = movie.info(language="es-ES")
    over = response['title']
    return over 
  
  except: 
    
    try:
      
      time.sleep(5)
      response = movie.info(language="es-ES")
      over = response['title']
      return  over 
    
    except:
      
      return ''

In [0]:
data['title'] = data['title'].apply(lambda x:'')
data['title'] = data.apply(lambda x: get_spanish_title(x['id']) if x['title'] == '' else  x['title'], axis=1 )

In [16]:
data

          id                                           title  like
0      19995                                          Avatar   1.0
1        285         Piratas del Caribe: En el fin del mundo   1.0
2     206647                                    007: Spectre   NaN
3      49026          El caballero oscuro: La leyenda renace   1.0
4      49529                                     John Carter   0.0
5        559                                    Spider-Man 3   1.0
6      38757                                       Enredados   NaN
7      99861                    Vengadores: La era de Ultrón   1.0
8        767         Harry Potter y el misterio del príncipe   1.0
9     209112  Batman v. Superman: El amanecer de la justicia   0.0
10      1452                    Superman Returns: El regreso   0.0
11     10764                          007: Quantum of Solace   0.0
12        58  Piratas del Caribe: El cofre del hombre muerto   1.0
13     57201                            El llanero solitario   NaN
14     49521                              El hombre de acero   0.0
15      2454     Las crónicas de Narnia: El príncipe Caspian   0.0
16     24428                                  Los vengadores   1.0
17      1865       Piratas del Caribe: En mareas misteriosas   1.0
18     41154                            Hombres de negro III   0.0
19    122917    El Hobbit: La batalla de los cinco ejércitos   0.0
20      1930                          The Amazing Spider-Man   1.0
21     20662                                      Robin Hood   NaN
22     57158               El Hobbit: La desolación de Smaug   1.0
23      2268                               La brújula dorada   NaN
24       254                                       King Kong   0.0
25       597                                         Titanic   1.0
26    271110                      Capitán América: Civil War   1.0
27     44833                                      Battleship   NaN
28    135397                                  Jurassic World   1.0
29     37724                                    007: Skyfall   NaN
...      ...                                             ...   ...
4782    2292                                          Clerks   NaN
4783   42497                                  Pink Narcissus   NaN
4784   33693                                     Funny Ha Ha   NaN
4785   14585                          En compañía de hombres   NaN
4786  185465                                          Manito   NaN
4787   38780              Rampage. Francotirador de libertad   NaN
4788   14022                                         Slacker   NaN
4789  366967                                     Dutch Kills   NaN
4790  255266                                       Dry Spell   NaN
4791   17345                             El viaje de la vida   NaN
4792  226458                                        Backmask   NaN
4793   24055                                 The Puffy Chair   NaN
4794  287625                            Stories of Our Lives   NaN
4795   44990                                Breaking Upwards   NaN
4796   86304               Todos Los Superhéroes Deben Morir   NaN
4797     692                                  Pink Flamingos   NaN
4798   39851                                           Clean   NaN
4799   13898                                      El círculo   NaN
4800  157185                                     Tin Can Man   NaN
4801   36095                                            Cure   NaN
4802  182291                                                   NaN
4803  286939                    Sanctuary: Quite a Conundrum   NaN
4804  124606                                            Bang   NaN
4805   14337                                          Primer   NaN
4806   67238                                          Cavite   NaN
4807    9367                                     El Mariachi   NaN
4808   72766                                       Newlyweds   NaN
4809  231617                       Signed, Sealed, Delivered   NaN
4810  126186                                Shanghai Calling   NaN
4811   25975                               My Date with Drew   NaN

[4812 rows x 3 columns]

In [0]:
data.to_csv("tmdb_spanish_overview.csv",sep='#',encoding='utf-8')