In [0]:
import pandas as pd
import glob

In [31]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [32]:
path = r'gdrive/My Drive/TFG/movies/' # use your path
all_files = glob.glob(path + "/*.csv")
print(len(all_files))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0, sep='|')
    li.append(df)

data = pd.concat(li, axis=0, ignore_index=True)

59

In [0]:
data = data.sort_values('id').reset_index(drop=True)

In [0]:
df_5000 = pd.read_csv('tmdb_spanish_overview.csv', sep='#', lineterminator='\n', encoding='utf-8')

In [0]:
df_5000 = df_5000[['id']]

In [0]:
df_5000 = data.join(df_5000.set_index('id'), on='id', how='inner')

In [0]:
data = data.dropna(subset=['overview']).reset_index(drop=True)

In [0]:
data['len_over'] = data.overview.str.split().apply(len)

In [0]:
data = data[data['len_over'] > 20]

In [48]:
data.dtypes

id                 int64
original_title    object
title             object
overview          object
genres            object
cast              object
crew              object
release_date      object
len_over           int64
dtype: object

In [49]:
data.sort_values(by='release_date', ascending=False)

           id                          original_title  ... release_date len_over
50119  447365          Guardians of the Galaxy Vol. 3  ...   2022-05-06       49
46629  402431                                  Wicked  ...   2021-12-22       28
39947  297708                       Sherlock Holmes 3  ...   2021-12-21       72
22557   76600                                Avatar 2  ...   2021-12-17       79
50595  453395                        Doctor Strange 2  ...   2021-05-31       41
...       ...                                     ...  ...          ...      ...
56848  589323  Las siete maravillas del mundo antiguo  ...          NaN      125
56858  589627                     Esta es mi historia  ...          NaN       21
56869  589708                           Mother Teresa  ...          NaN       51
56874  589898                              Lima Bruja  ...          NaN       93
56879  589963                         La filla d'algú  ...          NaN       55

[52867 rows x 9 columns]

In [0]:
movies = data[data['release_date'].str.contains('2019|2018|2017|2016', na=False)].sort_values(by='release_date', ascending=False)

In [0]:
df_def = df_5000.set_index('id').append(movies.set_index('id').drop(columns=['len_over']))

In [0]:
df_def.to_csv('tmdb_spanish_def.csv', encoding='utf-8', sep='#', index='False')

In [0]:
df_def = pd.read_csv('tmdb_spanish_def.csv', encoding='utf-8', sep='#', lineterminator='\n')

In [0]:
df_movies = movies[['id','title','overview','release_date']]

In [0]:
df_movies['like'] = ''

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
df_movies.to_csv('tmdb_spanish_Jaime3.csv', sep=';', encoding='utf-8', index=False)

In [0]:
movies2016[movies2016['title'].str.contains('La ciudad')]

           id original_title  ... release_date len_over
40743  313369     La La Land  ...   2016-11-29       51

[1 rows x 9 columns]

In [0]:
like1 = pd.read_csv('tmdb_spanish_Jaime2.csv', sep='#')

In [0]:
like1 = like1[['id','like']]

In [7]:
like1

          id  like
0          5   NaN
1         11   1.0
2         12   1.0
3         13   1.0
4         14   NaN
...      ...   ...
4804  426067   NaN
4805  426469   NaN
4806  433715   NaN
4807  447027   NaN
4808  459488   NaN

[4809 rows x 2 columns]

In [0]:
like2 = pd.read_csv('tmdb_spanish_Jaime3.csv', sep=';')

In [0]:
like2 = like2[['id','like']]

In [15]:
like1['like'].value_counts(dropna=False)

NaN    3985
0.0     430
1.0     394
Name: like, dtype: int64

In [20]:
like2['like'].value_counts(dropna=False)

NaN    6307
0       129
1       121
Name: like, dtype: int64

In [0]:
likedef = like1.append(like2)

In [0]:
likedef['like'] = likedef.like.astype(float)

In [0]:
likedef.to_csv('tmdb_spanish_Jaime_def.csv', sep='#', encoding='utf-8', index=False)