In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
%pip install tmdbsimple

Collecting tmdbsimple
  Downloading https://files.pythonhosted.org/packages/52/d7/e84d96acfff3154bd84cc139472fb3d1293fabf20cd150833b3229c1e40d/tmdbsimple-2.2.0-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from tmdbsimple) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (3.0.4)
Installing collected packages: tmdbsimple
Successfully installed tmdbsimple-2.2.0

In [0]:
import pprint
import time

import pandas as pd
import tmdbsimple as tmdb
from requests.exceptions import HTTPError

In [0]:
data = pd.read_csv("gdrive/My Drive/TFG/tmdb_spanish_def.csv", sep='#',encoding='utf-8', lineterminator='\n')

In [0]:
pp = pprint

tmdb.API_KEY = '38dd5c6c01713ef99903275d51e2fd68'

In [0]:
data

           id  ...                                         image_path
0           5  ...  https://image.tmdb.org/t/p/w200/zbwxBgGO9wtauX...
1          11  ...  https://image.tmdb.org/t/p/w200/tvSlBzAdRE29bZ...
2          12  ...  https://image.tmdb.org/t/p/w200/wc6k6nqoo5kAOM...
3          13  ...  https://image.tmdb.org/t/p/w200/z4ROnCrL77ZMzT...
4          14  ...  https://image.tmdb.org/t/p/w200/or1MP8BZIAjqWY...
...       ...  ...                                                ...
11419  395442  ...  https://image.tmdb.org/t/p/w200/8egMKtHrVia5PT...
11420  462508  ...  https://image.tmdb.org/t/p/w200/Aj0Y8Or7jBiBIl...
11421  462514  ...                                               None
11422  489349  ...  https://image.tmdb.org/t/p/w200/AcyWQ1HnUXUcOz...
11423  443476  ...  https://image.tmdb.org/t/p/w200/7GqmOEUEmXdqYM...

[11424 rows x 9 columns]

In [0]:
def get_image(movie_id):

    movie = tmdb.Movies(movie_id)

    def movie_request(movie):

        image_path = movie.images()['posters'][0]['file_path']
        return  'https://image.tmdb.org/t/p/w200' + image_path

    try:

        return movie_request(movie)

    except HTTPError as err:

        if err.response.status_code == 429:

            time.sleep(10)
            try:
                return movie_request(movie)
            except:
                return 'http://placehold.it/500x450'

        else:

            return 'http://placehold.it/500x450'

    except:

        print('Fallo en: ' + str(id))

In [0]:
get_image(11422)

'https://image.tmdb.org/t/p/w200/dCUVG2po7DsBvnxfe7WGcJsUn9T.jpg'

In [0]:
data['image_path'] = dataover['id'].apply(lambda x: get_image(x))

Fallo en: 300327
Fallo en: 320435
Fallo en: 380097
Fallo en: 479259
Fallo en: 477018
Fallo en: 429422
Fallo en: 558594
Fallo en: 584608
Fallo en: 581424
Fallo en: 563301
Fallo en: 562561
Fallo en: 555274
Fallo en: 550410
Fallo en: 532315
Fallo en: 340321
Fallo en: 530089
Fallo en: 568854
Fallo en: 447362
Fallo en: 514292
Fallo en: 518038
Fallo en: 515406
Fallo en: 483221
Fallo en: 573402
Fallo en: 573400
Fallo en: 486764
Fallo en: 482934
Fallo en: 563297
Fallo en: 529272
Fallo en: 476298
Fallo en: 484471
Fallo en: 472849
Fallo en: 469357
Fallo en: 440695
Fallo en: 526806
Fallo en: 452741
Fallo en: 446114
Fallo en: 500553
Fallo en: 443987
Fallo en: 432113
Fallo en: 415593
Fallo en: 285746
Fallo en: 427535
Fallo en: 425706
Fallo en: 443580
Fallo en: 424820
Fallo en: 424825
Fallo en: 447167
Fallo en: 420759
Fallo en: 423270
Fallo en: 534513
Fallo en: 467095
Fallo en: 413826
Fallo en: 422813
Fallo en: 464540
Fallo en: 402814
Fallo en: 403959
Fallo en: 419957
Fallo en: 439990
Fallo en: 434807
Fallo en: 395701
Fallo en: 392102
Fallo en: 413860
Fallo en: 494552
Fallo en: 409393
Fallo en: 587318
Fallo en: 513348
Fallo en: 457719
Fallo en: 378703
Fallo en: 377193
Fallo en: 405905
Fallo en: 403379
Fallo en: 522546
Fallo en: 533414
Fallo en: 462514

In [0]:
data[pd.isna(data['image_path'])] = 'http://placehold.it/500x450'

In [0]:
def get_vote_average(movie_id):

    movie = tmdb.Movies(movie_id)

    def movie_request(movie):

        movie.info(language="es-ES")

        return movie.vote_average

    try:

        return movie_request(movie)

    except HTTPError as err:

        if err.response.status_code == 429:

            time.sleep(10)
            try:
                return movie_request(movie)
            except:
                return 5

        else:

            return 5

    except:

        return 5

In [0]:
get_vote_average(11422)

6.4

In [0]:
data['vote_average'] = dataover['id'].apply(lambda x: get_vote_average(x))

In [58]:
data

                                id  ... vote_average
0                                5  ...          6.1
1                               11  ...          8.2
2                               12  ...          7.8
3                               13  ...          8.4
4                               14  ...          8.0
...                            ...  ...          ...
11419                       395442  ...          6.8
11420                       462508  ...          0.0
11421  http://placehold.it/500x450  ...          0.0
11422                       489349  ...          1.3
11423                       443476  ...          4.0

[11424 rows x 10 columns]

In [0]:
data.to_csv('tmdb_spanish_def.csv', encoding='utf-8', sep='#', index='False')