<a href="https://colab.research.google.com/github/Jaimemorillo/ShouldIwatchThisMovie/blob/master/get_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import pprint
import time
import requests
from requests.exceptions import HTTPError

pp = pprint

In [0]:
!pip install tmdbsimple

import tmdbsimple as tmdb

tmdb.API_KEY = '38dd5c6c01713ef99903275d51e2fd68'

Collecting tmdbsimple
  Downloading https://files.pythonhosted.org/packages/52/d7/e84d96acfff3154bd84cc139472fb3d1293fabf20cd150833b3229c1e40d/tmdbsimple-2.2.0-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from tmdbsimple) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbsimple) (3.0.4)
Installing collected packages: tmdbsimple
Successfully installed tmdbsimple-2.2.0

In [0]:
# Get last id
movie = tmdb.Movies(5)
movie.info(language="es-ES")
last_id = movie.id
cast = movie.credits()['cast']
crew = movie.credits()['crew']

In [0]:
start_id = 1

In [0]:
# Create empty dataframe
films = pd.DataFrame(columns=['id','original_title','title','overview','genres','cast','crew','release_date'])

In [0]:
def get_all_info(movie_id):
  
  
  movie = tmdb.Movies(movie_id)
  
  def movie_request(movie):
    
    movie.info(language="es-ES")
    cast = movie.credits()['cast']
    crew = movie.credits()['crew']

    return movie.id, movie.original_title,movie.title, movie.overview, movie.genres, cast, crew, movie.release_date
  
  try:
      
    return movie_request(movie)
    
  except HTTPError as err:
    
    #print(err.response.status_code)
    if err.response.status_code == 429:
      
      time.sleep(10)
      try:
        return movie_request(movie)
      except:
        return movie_id, 'original_title', 'title', 'overview', 'genres', 'cast', 'crew', 'release_date'
    
    else:
      
      return movie_id, 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'

  except:
     
      print('Fallo en: '+ str(movie_id))

In [0]:
films = pd.concat([pd.DataFrame([get_all_info(i)], columns=films.columns) for i in range(30)],ignore_index=True)

In [0]:
for i in range(10000,600001,10000):
  print(i-10000, i)

0 10000
10000 20000
20000 30000
30000 40000
40000 50000
50000 60000
60000 70000
70000 80000
80000 90000
90000 100000
100000 110000
110000 120000
120000 130000
130000 140000
140000 150000
150000 160000
160000 170000
170000 180000
180000 190000
190000 200000
200000 210000
210000 220000
220000 230000
230000 240000
240000 250000
250000 260000
260000 270000
270000 280000
280000 290000
290000 300000
300000 310000
310000 320000
320000 330000
330000 340000
340000 350000
350000 360000
360000 370000
370000 380000
380000 390000
390000 400000
400000 410000
410000 420000
420000 430000
430000 440000
440000 450000
450000 460000
460000 470000
470000 480000
480000 490000
490000 500000
500000 510000
510000 520000
520000 530000
530000 540000
540000 550000
550000 560000
560000 570000
570000 580000
580000 590000
590000 600000